.country-selector__dropdown {
  width: 10rem;
  // text-align: center;
  height: 2rem;
  border: var(--secondary-colour) 0.5px solid;
  padding: 0.5rem;
  height: 2.5rem;
  border-radius: 25px;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.country-selector {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  align-items: centre;
}

.infocard-details__wrapper {
  width: 40rem;
  height: 20rem;
}

.filler-card {
  width: 40rem;
  height: 20rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  margin-top: 2rem;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  margin-bottom: 10px;
  align-content: center;
  border-radius: 5px;
}

.flag-container {
  height: 7rem;
}
