.traveller-button__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.traveller-button {
  width: 4rem;
  justify-content: center;
  align-items: center;
}

.budget-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.budget-overview p {
  width: 70%;
}

.budgetyourtrip-banner {
  border: 1px solid #f5f5f5;
  // padding: 1rem;
  margin-bottom: 1rem;
  width: auto;
  align-items: center;
  font-size: 0.75rem;
  display: flex;
}

.budgetyourtrip-banner__text {
  color: #505050;
  font-weight: bold;
  text-decoration: none;
}

#budget-icon {
  width: 64px;
  height: 64px;
}

#sub-page {
  background-color: var(--tertiary-color);
}

.page-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.page-navbar__button {
  background-color: #00c85a;
  color: var(--secondary-color);
  border-radius: 15px;
  border: #212121 2px solid;
  cursor: pointer;
}
