.traveller-button__wrapper {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.traveller-button {
  width: 4rem;
  justify-content: center;
  align-items: center;
}

.budget-overview {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.budget-overview p {
  width: 50%;
}

.budgetyourtrip-banner {
  border: 2px solid var(--secondary-colour);
  padding: 1rem;
  margin-bottom: 1rem;
  width: auto;
  align-items: center;
  font-size: 0.75rem;
  display: flex;
}

.budgetyourtrip-banner__text {
  color: #505050;
  font-weight: bold;
  text-decoration: none;
}

#budget-icon {
  width: 64px;
  height: 64px;

  filter: var(--icon__fill-colour);
}

#sub-page {
  background-color: var(--tertiary-colour);
  opacity: 0.8;
}

.budget-background {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  &__section {
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
}
