.welcome-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../assets/hero.jpg");

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.video-wrapper {
  /* Telling our absolute positioned video to 
  be relative to this element */
  position: relative;

  width: 400px;
  height: 200px;

  /* Will not allow the video to overflow the 
  container */
  overflow: hidden;

  /* Centering the container's content vertically 
  and horizontally */
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.landing-card {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  align-items: center;
  height: 15rem;
  width: 40rem;
  // border: black 1px solid;
  border-top: 3px solid green;
  border-radius: 5px;
  box-shadow: 0px 5px 5px -5px black;
  padding: 30px;
  margin: 20px;
  background-color: white;
}

.landing-card {
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(1px);
  border-radius: 15px; // border: 1px solid rgba(43, 43, 43, 0.568);
}
