@use "../../styles/partials/breakpoints" as breakpoints;

//----Night Mode-----//

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

#welcome-page {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)),
    url("../../assets/hero.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
  height: 50rem;
}

#main-selector {
  height: 20rem;
}

:root {
  --primary-color: rgba(245, 245, 245, 0.5);
  --secondary-color: #212121;
  --tertiary-color: rgba(216, 216, 216, 0.5);
  --quaternary-color: rgba(216, 216, 216, 0.5);
  --quinary-color: hsl(100 100% 40%);
  line-height: 1.5;
}

.dark-theme {
  --primary-color: rgb(37, 37, 37);
  --secondary-color: rgb(255, 255, 255);
  --tertiary-color: rgb(57, 57, 57);
}

.page {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 1rem;
  padding-bottom: 2rem;
}

select {
  width: 80%;
}

.content-wrapper {
  display: flex;
  flex-direction: row;
  border: black 2px solid;
  border-radius: 5px;
  padding: 1rem;
  align-items: center;
  background: rgba(255, 255, 255, 0.192);
  backdrop-filter: blur(1px);
  border-radius: 15px;
  justify-content: space-evenly;
}

.flag {
  margin: 2rem;
  border: black solid 1px;
  border-radius: 50%;
  height: 8rem;
  width: 8rem;
  background-image: url(../../assets/globepin.png);
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  /*  leverage cascade for cross-browser gradients  */
  // background: radial-gradient(hsl(100 100% 40%), hsl(200 100% 40%)) fixed;
  background: conic-gradient(
      hsl(100 100% 40%),
      var(--secondary-color),
      hsl(100 100% 40%)
    )
    fixed;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}

.next-button,
.confirm-button,
.traveller-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  width: 10rem;
  background-color: rgb(00, 200, 90);
  color: var(--secondary-color);
  border-radius: 15px;
  border: #212121 2px solid;
  cursor: pointer;
}

.next-button,
.confirm-button:hover {
  opacity: 0.8;
  transition: 0.35s ease-in-out;
  transform: translateY(1px);
}

.confirm-button {
  width: 5rem;
}

.next-button:hover {
  opacity: 0.8;
}

// /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: greenyellow;
  border-radius: 10px;
}
