@use "../../styles/partials/breakpoints" as breakpoints;

//----Night Mode-----//

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

// #page {
//   height: 70vh;
// }

.flag {
  margin-left: 2rem;
  margin-right: 2rem;
  border: var(--secondary-colour) solid 1px;
  border-radius: 50%;
  height: 10rem;
  width: 10rem;
  background-image: url(../../assets/globepin.png);
  background-position: center;
  background-size: contain;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-header {
  margin-top: 1rem;
  margin-bottom: 1rem;
  padding-bottom: 0.5rem;
  display: flex;
  justify-content: center;
  text-align: center;
  border-bottom: 5px solid var(--quinary-colour);
  margin-left: 30%;
  margin-right: 30%;
}

.next-button,
.confirm-button,
.traveller-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
  width: 10rem;
  background-color: rgb(00, 200, 90);
  color: var(--secondary-colour);
  border-radius: 15px;
  border: #212121 2px solid;
  cursor: pointer;
}

.next-button,
.confirm-button:hover {
  opacity: 0.8;
  transition: 0.35s ease-in-out;
  transform: translateY(1px);
}

.confirm-button {
  width: 5rem;
}

.next-button:hover {
  opacity: 0.8;
}

// /* width */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  // background: greenyellow;
  border-radius: 10px;
}
